<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Burger King</title>
    <link rel="icon" href="../images/gryf1.png" />
    <link rel="stylesheet" href="/stylesheets/Home.css">


</head>
<body>
    <header>
        <div class="nav sticky">
          <div class="logo">
              <a href="/">Burger King</a>
          </div>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/contact">Contact</a></li>
          </ul>
      </div>
    </header>
    <h1> i can use leorem but this is more fancy :just for testing just for testing just for testing just for testing just for testing just for testing just for testing just for testing just for testing  </h1>
  
    </div>
</body>
</html>