<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="../images/gryf1.png" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" cross />
    <link
      href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/closed.css" />
   
    <title>Burger King Closed</title>
  </head>
  <body>
    <img src="../images/closed.jpg" />
    <div>
      <h1>Welecome to Burger King</h1>
      <h3>
        We only available  (Monday to
        Friday, from 9 to 17)
      </h3>
    </div>
  </body>
</html>
