<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/Home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../images/logo.png" />
    <title>Burger King-Home</title>
  </head>

  <body>
    <header>
      <div class="nav sticky">
        <div class="logo">
          <a href="/">Burger King</a>
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </header>
    <section class="cover">
      <h3>WELCOME TO</h3>
      <h1 style="color: coral; font-family: Arial, Helvetica, sans-serif">
        Burger King
      </h1>
      <h3>
        <%= text %>
      </h3>
    </section>
    <section class="about">
      <div>
        <h2>About Us</h2>
        <p>
          i can use leorem but this is more fancy :just for testing just for testing just for testing just for testing just for testing just for testing just for testing just for testing just for testing  
        </p>
      </div>
      <img src="images/burgerlogo.gif" />
    </section>
    <div class="hat">
      <img src="images/aboutus.webp" />
      <h2>
        “Be Your Way,”
      </h2>
    </div>

    <footer>
      
      <p>saleh jamai  </p>
    </footer>
  </body>
</html>
