<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/Home.css" />
    <link rel="stylesheet" href="/stylesheets/services.css" />

    <link rel="icon" href="../images/gryf1.png" />
    <title>Burger King Services</title>
  </head>
  <body>
    <header>
      <div class="nav sticky">
        <div class="logo">
          <a href="/">Burger King</a>
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </header>
    <section>
      <div class="blog-container">
        <div class="upper-part">
          <img id="burger-cover" src="images/menu.jpg" />
        </div>
        <div class="down-part">
          <div class="author">
           
            <div>
              <h4>Much Bigger Same Taste</h4>
             
              
            </div>
          </div>
          <p>
           i can use leorem but this is more fancy :just for testing just for testing just for testing just for testing just for testing just for testing just for testing just for testing just for testing  
          </p>
          <a href="/services/moreinfo">Read more</a>
        </div>
      </div>
    </section>
  </body>
</html>
